name: depl test

on:
  workflow_dispatch
  #push:
    #branches: [ "main" ]


env:
  PROJECT_ID: celtic-beacon-387519
  GAR_LOCATION: europe-central2 # TODO: update region of the Artifact Registry
  GKE_CLUSTER: gke-terraform    # TODO: update to cluster name
  GKE_ZONE: europe-central2-b   # TODO: update to cluster zone
  DEPLOYMENT_NAME: flask-app-deployment # TODO: update to deployment name
  REPOSITORY: amossg-docker # TODO: update to Artifact Registry docker repository
  IMAGE: my-flsak-db-pg



jobs:
  test-var:
    name: test
    runs-on: ubuntu-latest
    environment: production
    
    permissions:
      contents: 'read'
      id-token: 'write'
      
    steps:
    - name: Checkout
      uses: actions/checkout@v3
 
         
    - name: echo
      run: echo '${{ secrets.GCP_KEY }}' >> key.json
      
    - name: login
      run: gcloud auth activate-service-account '${{ secrets.SA_GOOGLE }}' --key-file=./key.json
      
      
    - name: Login to GAR
      uses: docker/login-action@v2
      with:
        registry: europe-central2-docker.pkg.dev
        username: _json_key
        password: ${{ secrets.GCP_KEY }}
        
    - name: Set up GKE credentials
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_KEY }}'
        
    - name: gke
      uses: 'google-github-actions/get-gke-credentials@v1'
      with:
        cluster_name: 'gke-terraform'
        location: 'europe-central2-b'

        
    - name: cc con
      run: gcloud container clusters get-credentials gke-terraform --zone europe-central2-b --project celtic-beacon-387519
    - name: Deploy
      run: kubectl apply -f deployment-and-service.yaml
      
      
  
      
      
