name: docker

on:
  push:
    branches: main
env:
  PROJECT_ID: celtic-beacon-387519
  GAR_LOCATION: europe-central2 # TODO: update region of the Artifact Registry
  GKE_CLUSTER: gkeflask     # TODO: update to cluster name
  GKE_ZONE: europe-central2   # TODO: update to cluster zone
  DEPLOYMENT_NAME: flask-app-deployment # TODO: update to deployment name
  REPOSITORY: amossg-docker # TODO: update to Artifact Registry docker repository
  IMAGE: flsak-app


jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    environment: production

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    # Alternative option - authentication via credentials json
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
         credentials_json: '${{ secrets.GCP_KEY }}'
         
    - name: Login to GCR
      uses: docker/login-action@v2
      with:
        registry: europe-central2-docker.pkg.dev
        username: _json_key
        password: ${{ secrets.GCP_KEY }}
          
          
  
