name: tf test

on:
  workflow_dispatch
  #push:
    #branches: [ "main" ]


env:
  PROJECT_ID: celtic-beacon-387519
  GAR_LOCATION: europe-central2 # TODO: update region of the Artifact Registry
  GKE_CLUSTER: gke-terraform    # TODO: update to cluster name
  GKE_ZONE: europe-central2-b   # TODO: update to cluster zone
  DEPLOYMENT_NAME: flask-app-deployment # TODO: update to deployment name
  REPOSITORY: amossg-docker # TODO: update to Artifact Registry docker repository
  IMAGE: my-flsak-db-pg



jobs:
  build:
    name: prepair all to deploy
    runs-on: ubuntu-latest
    environment: production
    
    permissions:
      contents: 'read'
      id-token: 'write'
      
    steps:
    - name: Checkout
      uses: actions/checkout@v3
 
         
    - name: echo
      run: echo '${{ secrets.GCP_KEY }}' >> key.json
      
    - name: login
      run: gcloud auth activate-service-account '${{ secrets.SA_GOOGLE }}' --key-file=./key.json
      
    - name: terraform init
      run: terraform init
      
    - name: terraform plan
      run: terraform plan
      
    - name: terraform apply
      run: terraform apply -auto-approve

    - name: change chmod 
      run: chmod +x data-from-tf-to-secret.sh
      
    - name: ctrate secret
      run: bash data-from-tf-to-secret.sh
      
    - name: Login to GAR
      uses: docker/login-action@v2
      with:
        registry: europe-central2-docker.pkg.dev
        username: _json_key
        password: ${{ secrets.GCP_KEY }}
        
    - name: Set up GKE credentials
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_KEY }}'
        
    - name: gke
      uses: 'google-github-actions/get-gke-credentials@v1'
      with:
        cluster_name: 'gke-terraform'
        location: 'europe-central2-b'
        
    - name: Build
      run: |-
        docker build \
          --tag "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:latest" \
          .
          
    - name: Publish
      run: |-
        docker push "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:latest"
        
    - name: accept secret
      run: kubectl apply -f secret.yaml
      
    - name: setup ingres controller
      run: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.8.1/deploy/static/provider/cloud/deploy.yaml
      
    - name: Deploy
      run: kubectl apply -f deployment-and-service.yaml
        
 
#  deploy:
 #   name: deploy
  #  runs-on: ubuntu-latest
   # needs: build
    #environment: production
    
    #permissions:
     # contents: 'read'
      #id-token: 'write'
      
   # steps:
   # - name: Checkout
    #  uses: actions/checkout@v3
 
         
#   - name: echo
#      run: echo '${{ secrets.GCP_KEY }}' >> key.json
      
#   - name: login
#      run: gcloud auth activate-service-account '${{ secrets.SA_GOOGLE }}' --key-file=./key.json
      
      
  #  - name: Login to GAR
  #    uses: docker/login-action@v2
  #    with:
  #      registry: europe-central2-docker.pkg.dev
  #      username: _json_key
  #      password: ${{ secrets.GCP_KEY }}
        
  #  - name: Set up GKE credentials
   #   uses: 'google-github-actions/auth@v1'
   #   with:
   #     credentials_json: '${{ secrets.GCP_KEY }}'
        
  #  - name: gke
  #    uses: 'google-github-actions/get-gke-credentials@v1'
  #    with:
   #     cluster_name: 'gke-terraform'
    #    location: 'europe-central2-b'
        
        
  #  - name: pull
    #  run: kubectl run pull --image europe-central2-docker.pkg.dev/celtic-beacon-387519/amossg-docker/my-flsak-db-pg
      
 #   - name: sleep 
#      run: sleep 90


      
#    - name: delete
#     run: kubectl delete pod pull

